# Salin file ini ke key.properties dan isi dengan nilai sebenarnya
# JANGAN commit key.properties dan upload-keystore.jks ke Git!

storePassword=password_keystore_anda
keyPassword=password_key_anda
keyAlias=upload
storeFile=upload-keystore.jks
